@import url(https://fonts.googleapis.com/css?family=Nunito);.note-editable > * {
  line-height: 0.5;
}

[data-value=pre] {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-left: 0;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #fff;
  background-image: none;
  border: 1px solid #fff;
  border-color: #fff;
  border-radius: 1px;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: button;
  text-transform: none;
  user-select: none;
  box-sizing: border-box;
  touch-action: manipulation;
}

.note-editor.note-frame {
  width: 100%;
}

.cke_chrome {
  width: 100% !important;
}

.main-content {
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 50px !important;
}

@media (min-height: 320px) {
  .ui.footer.form-page {
    /* Increased specificity for SO snippet priority */
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.amber {
  background: #ffbf00 !important;
}

.blue-gradiant:hover {
  background: #1aa7ff !important;
}

.inverted.menu {
  border: 0 !important;
  border-radius: 0 !important;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

.blue-gradiant {
  background: #1aa7ff;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #1aa7ff), color-stop(76%, #006bb8), color-stop(100%, #006bb8));
  background: linear-gradient(135deg, #1aa7ff 0%, #006bb8 76%, #006bb8 100%);
}

.right.float {
  float: right;
}

.blue-gradiant .button {
  background: transparent;
  box-shadow: 0 0 0 1px #2185D0 inset;
  color: #ffffff;
}

.bio .blue-gradiant .button:hover {
  background: transparent;
  box-shadow: 0 0 0 1px #2185D0 inset;
  color: #ffffff;
}

.stats.blue-gradiant .button:hover {
  background: #124974;
  color: #ffffff;
}

.comment-seg {
  margin: 0 !important;
}

.button-noclck {
  cursor: default !important;
}

.ui.blue.buttons .button,
.segment .blue {
  background-color: #2169dd;
}

.ui.left.corner.label:after {
  left: -1px !important;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.d-inline {
  display: inline-block !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.sideclick {
  z-index: 50;
  position: absolute;
  border-radius: 0px 0.28571429rem 0.28571429rem 0px !important;
}

.mb-segment {
  margin-top: 5px !important;
}

.seg-attached-left {
  border-top-left-radius: 0 !important;
}

.seg-attached-right {
  border-top-right-radius: 0 !important;
}

.ui.grid > .column:not(.row).w-a {
  width: auto !important;
}

.ui.button.w-a {
  margin: 0 !important;
}

.ui.celled.list > .item,
.ui.celled.list > .list {
  padding-top: 0.5rem !important;
}

.c-submenu {
  margin-bottom: 0.25em !important;
}

.ui.horizontal.list > .item {
  margin-right: auto !important;
}

.ui.horizontal.list > .item:hover {
  text-decoration: none;
}

.column.item:hover {
  background-color: #a333c84f !important;
}

.ui.horizontal.list > .item {
  margin-right: 5px !important;
}

.problem_body > pre {
  padding: 10px 5px 10px 10px !important;
  margin: 15px 0 !important;
  display: block !important;
  line-height: 18px !important;
  background: #F0F0F0 !important;
  color: #333 !important;
  border-radius: 3px !important;
  font-size: 13px !important;
  font-family: "monaco", "Consolas", "Liberation Mono", Courier, monospace;
  white-space: pre !important;
  word-wrap: normal !important;
  overflow-x: auto !important;
}

